option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /public: public
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.small
    RootVolumeSize: 16
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
  aws:elbv2:listener:default:
    ListenerEnabled: true
    Protocol: HTTP
    DefaultProcess: default
  aws:elasticbeanstalk:environment:process:default:
    Port: 8081
    Protocol: HTTP
    HealthCheckPath: /health
